{#
    This file is part of the
    Infeap Data Manager (https://www.infeap.org/data-manager)
    open source project.

    @copyright   2018-2020 Tobias Krebs and the Infeap Team
    @license     https://www.gnu.org/licenses/gpl.html GNU General Public License 3
#}

{% extends "@page/layout/message.twig" %}

{% block message_symbol %}
    <figure class="-type-symbol text-info" aria-hidden="true">
        <svg class="bi bi-info-circle-fill" width="2.5rem" height="2.5rem" viewBox="0 0 16 16" fill="currentColor">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M8 16A8 8 0 108 0a8 8 0 000 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 100-2 1 1 0 000 2z" />
        </svg>
    </figure>
{% endblock %}

{% block message_heading exception.message %}

{% block message_content %}
    <p>page/exception/message.twig</p>
{% endblock %}
