# This file is part of the
# Infeap Data Manager (https://www.infeap.org/data-manager)
# open source project

.idea/
.project/
.settings/
nbproject/
.buildpath
.project

/node_modules/
/vendor/

/public/.htaccess
/public/.htpasswd

composer.phar

.DS_Store
Desktop.ini
Thumbs.db
