# This file is part of the
# Infeav Data Manager (https://www.infeav.org/data-manager)
# open source project

# Add your local OS and IDE files to your global .gitignore file
# or to .git/info/exclude for this project only

/node_modules/
/vendor/

/public/.htaccess
/public/.htpasswd
