{#
    This file is part of the
    Infeap Data Manager (https://www.infeap.org/data-manager)
    open source project.

    @copyright   2018-2020 Tobias Krebs and the Infeap Team
    @license     https://www.gnu.org/licenses/gpl.html GNU General Public License 3
#}

{% extends "@page/layout/message.twig" %}

{% block message_heading 'Page not found' %}

{% block message_content %}
    <p>The requested page or function has not been found on this server.</p>

    <p>Possible causes:</p>

    <ul>
        <li>Your URL is incomplete or incorrect</li>
        <li>The URL has been changed</li>
        <li>It has been removed</li>
    </ul>
{% endblock %}
