{#
    This file is part of the
    Infeap Data Manager (https://www.infeap.org/data-manager)
    open source project.

    @copyright   2018-2020 Tobias Krebs and the Infeap Team
    @license     https://www.gnu.org/licenses/gpl.html GNU General Public License 3
#}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="application-name" content="Infeap Data Manager ">
        <meta name="generator" content="Infeap Data Manager {{ app.version.number }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if not app.config.develop %}
            <link rel="stylesheet" href="{{ compiled_css('foundation') }}">
        {% endif %}

        <title>{% block title 'Infeap Data Manager' %}</title>
    </head>

    <body class="{% block body_class '' %}">
        {% block body '' %}

        <script src="{{ compiled_js('vendors~foundation~init') }}"></script>
        <script src="{{ compiled_js('foundation') }}"></script>

        {% block foot '' %}
    </body>
</html>
